<html>
<body>
    <p>Halli-Hallo!</p>
    <p>Willkommen zu Susi's Blog</p>
</body>
</html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Wer bin ich eigentlich?</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Was ist NLP? - Einstieg in die Welt der neurolinguistischen Programmierung</p>
        </div>
    </body>
</html>